
language: node_js

node_js:
  - 8

install:
  - npm install --only=dev
  - typings install

script:
  - npm run lint
  - npm run build
  - npm test
  - npm run typedoc

deploy:
  provider: surge
  project: ./typedoc/
  domain: typed-sequelize.surge.sh
  skip_cleanup: true
